@model IEnumerable<DDD_Na_Partica.Web.Models.UsuarioViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    Html.RenderPartial("~/Views/Shared/_Alerta.cshtml");
}

<table class="table table-striped table-hover table-bordered" id="tb-usuario">
    <thead>
        <tr>
            <th>@Html.DisplayName("Nome")</th>
            <th>@Html.DisplayName("Usuario")</th>
            <th>@Html.DisplayName("Ativo")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
        <tr>
            <td>@usuario.Nome</td>

            <td>@usuario.Login</td>

            <td>@(usuario.Ativo == false ? "Inativo" : "Ativo")</td>
        </tr>
        }
    </tbody>
</table>

<div class="row">
  
    @Html.ActionLink("Novo", "CadAlter", "Usuario", new { @class = "btn btn-primary" })
</div>
