@model IEnumerable<DDD_Na_Partica.Web.Models.UsuarioViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    Html.RenderPartial("~/Views/Shared/_Alerta.cshtml");
}

<table class="table table-striped table-hover table-bordered" id="tb-usuario">
    <thead>
        <tr>
            <th>@Html.DisplayName("Nome")</th>
            <th>@Html.DisplayName("Usuario")</th>
            <th>@Html.DisplayName("Ativo")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nome</td>

                <td>@usuario.Login</td>

                <td>@(usuario.Ativo == false ? "Inativo" : "Ativo")</td>
            </tr>
        }
    </tbody>
</table>

<div class="row">

    @Html.ActionLink("Novo", "CadAlter", "Usuario", new { @class = "btn btn-primary" })
</div>

<div class="row">
    <span id="spanNome"></span>
    <br />
    <input type="text" id="txtNumero"/>
    <br />
    <input type="button" id="btnBuscarNome" value="Buscar Nome Usuario" class="btn btn-primary" />
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            console.log("Ready");
            addEvents();
        });

        function addEvents() {
            $("#btnBuscarNome").on("click", function () {
                GetNomeUsuario($("#txtNumero").val());
            });
        }

        // https://viacep.com.br/

        function GetNomeUsuario(_idUsuario) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("VerificaUsuario", "Usuario")',
                dataType: "json",
                contentType: "application/json; charset=utf-8;",
                data: { idUsuario: _idUsuario },
                success: function (dados) {
                    $("#spanNome").text(dados.Nome);
    },
                error:function(e, rr, msg){
        alert(rr);
    }
});
        }


    </script>
}